[submodule "vendor/a2aproject/a2a-inspector"]
	path = vendor/a2aproject/a2a-inspector
	url = https://github.com/cprima-forks/a2aproject-a2a-inspector.git
[submodule "vendor/modelcontextprotocol/inspector"]
	path = vendor/modelcontextprotocol/inspector
	url = https://github.com/cprima-forks/modelcontextprotocol-inspector.git
